*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
font-family: "Major Mono Display", monospace;
    
      
}
html, body{
  height: 100%;
  overflow: hidden;

  width: 100%;
  background-color:black;
}

:root{
    --Primary-color:black;
    --font-color:white;
    --para-color:#18857e;

}


.navbar {
height: 140px;
width: 100%;
background-color: var(--Primary-color);
border-bottom: 1px solid grey;
/* background-color: rebeccapurple */


 
}
.logo {

        font-family: "Jaini", system-ui;
        font-weight: 400;
        width: 100%;
        font-style: normal;
        color: var(--font-color);
        padding: 1rem;
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
        animation: change 2.5s infinite  ;  /* name duration timing-function iteration-count */
        cursor: pointer;
        
        
}
@keyframes change {
    0% { color: white; }
    12.5% { color: red; }
    25% { color: orange; }
    37.5% { color: yellow; }
    50% { color: green; }
    62.5% { color: blue; }
    75% { color: indigo; }
    87.5% { color: violet; }
    100% { color: white; }
}

.nav-content {
display: flex;
width: 100%;
justify-content: center;
gap: 3rem;
}
.nav-content a{
    font-size: 1.5rem;
    display: flex;
    align-content: center;
    align-items: center;
    color: var(--font-color);
}

.nav-content a:hover{
   text-decoration: overline;}

   .nav-content a button:hover{
    transform: scale(1.1);

   
}


/*    */
.main-content{
    display: flex;
    justify-content: center;

}
.container{
    margin-top: 2rem;
    width: 50vw;
    height: 50vh;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5rem;

    
    
}
.skills-box{
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--font-color);
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 15px;
    margin-bottom: 2rem;
    
  
    
    justify-content: space-between;
  }
  .skills,.skills-per{
    z-index: 1000;
   
  }
.skills-box .skills-bar{
    background-color: rgb(107, 96, 96);
    height: 30px;
   
    border-radius: 15px;
    position: absolute;

    animation: progress 1s ease-in-out forwards;
}

.skills-box .html{
    width: 90%;
  
}
.skills-box .css{
    width: 70%;
}
.skills-box .js{
    width: 40%;
}
.skills-box .photoshop{
    width: 70%;
}
.skills-box .ui{
    width: 60%;
}
@keyframes progress{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.skills-per{
    position: absolute;
    right: 10px;
   

}
div.skills{
    left: 10px;
    position: absolute;
}
.skills-bar{
    display: flex;
    align-items: center;
}
.title{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    letter-spacing: 0.3rem;
line-height: 4vw;
color: var(--para-color);
padding: 1rem;
}


    

/*  */
@media  (max-width:700px){
   
    .nav-content a{
        font-size: 1.05rem;
      
    }
    .nav-content{
    gap: 0.5rem;
    }}
    @media  (max-width:289px){
  
        .nav-content a{
            font-size: 0.9rem;
          
        }
        
    }




 @media (min-width:587px) and (max-width:1500px)
 {
    .title{
        font-size: 1.1rem;
        justify-content: center;
     
    }
    .container{
        width: 80%;
    }
 
}
@media (max-width:588px){
    .title{
        font-size: 1rem;
        justify-content: center;
     
    }
    .container{
        width: 90%;
    }
    .skills,.skills-per{
        font-size: 0.7rem;
    }
 
}
